body {
    font-family: 'Noto Sans JP', sans-serif;
    background: linear-gradient(180deg, rgba(77, 103, 132, 1) 0%, rgba(167, 135, 181, 1) 100%);
}

.active{
 position: relative;
 min-height: 100vh; 
 overflow: hidden;
}

.nav{
  display: none;
}

#title img{
  margin-top: 30vh;
  margin-bottom: 3vh;
  max-width: 100% !important;
  height: auto !important;
}

.btn-container{
  text-align: center;
  position: relative;
}

.btn{
  background: transparent;
  border: solid 1px white;
  color: white;
  width: 280px;
  height: 45px;
  border-radius: 45px;
  line-height: 30px;
  letter-spacing: 1px;
  margin: 2vh;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
}

.btn:hover{
  transform: scale(1.1);
  color: white;
}

.start-btn-container button:hover{
  transform: scale(1);
  background: white;
  color: rgba(77, 103, 132, 1);
}

.btn-slash{
  background: white;
  height: 8vh;
  width: 1px;
  margin: 2vh auto;
}

.start-btn-container::after{
  content: "";
  position:absolute;
  top: calc(2vh - 5px); left: calc(50vw - 160px);
  border: solid 1px white;
  width: 290px;
  border-radius: 45px;
  height: 55px;
  z-index: -1;
}

.sizuku {
 animation: sizuku 1s linear 0s;
 border-radius: 50%;
 border: 3px solid white;
 position: absolute;
 z-index: 1000;
}

@keyframes sizuku {
 0% {
   height: 0;
   opacity: 1;
   transform: translate(0, 0);
   width: 0;.
}
100% {
   height: 400px;
   width: 400px;
   opacity: 0;
   transform: translate(-200px, -200px);
   border-width: 0px;
 }
}
